.documents {
  width: 98.5%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}
.documents .documents_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.documents .documents_first .documents_first_item button {
  color: #42b983;
  background-color: white;
  border: 1px solid #42b983;
  border-radius: 30px;
  padding: 7px 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.documents .documents_first .documents_first_item button:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.12s linear;
  transition: opacity 0.12s linear;
}
.documents .documents_second {
  margin-bottom: 10px;
}
.documents .documents_second .documents_second_item input {
  outline: none;
  color: #2c3e50;
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
  width: 100%;
}
.documents .documents_second .documents_second_item input:focus {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.documents .documents_third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.documents .documents_fourth .documents_fourth_item .documents_fourth_item_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 7px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.documents .documents_fourth .documents_fourth_item .documents_fourth_item_list .documents_fourth_item_list_item {
  font-size: 16px;
  font-weight: 600;
}
.documents .documents_fourth .documents_fourth_item .documents_fourth_item_list .documents_fourth_item_list_item .documents_fourth_item_list_title {
  color: black;
}
.documents .documents_fourth .documents_fourth_item .documents_fourth_item_list .documents_fourth_item_list_item .documents_fourth_item_list_code-client {
  position: absolute;
  left: 33%;
  color: black;
}
.documents .documents_fourth .documents_fourth_item .documents_fourth_item_list .documents_fourth_item_list_item .documents_fourth_item_list_date-create {
  position: absolute;
  left: 66%;
  color: black;
}