@import '../../commons/mixins.scss';
@import '../../color/color.scss';

.documents {
    width: 98.5%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    background-color: $background-color-window;

    .documents_first {  
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        .documents_first_item {
            button {
                @include button();
            }
        }
    }

    .documents_second {
        margin-bottom: 10px;

        .documents_second_item {
            input {
                @include input();
                width: 100%;
            }   
        }
    }

    .documents_third {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .documents_fourth {
        .documents_fourth_item {
            .documents_fourth_item_list {
                position: relative;
                display: flex;
                flex-direction: row;
                width: 100%;
                padding: 7px 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
                box-sizing: border-box;

                .documents_fourth_item_list_item {
                    font-size: 16px;
                    font-weight: 600;

                    .documents_fourth_item_list_title {
                        color: $text-color-list_item;
                    }

                    .documents_fourth_item_list_code-client {
                        position: absolute;
                        left: 33%;
                        color: $text-color-list_item;
                    }

                    .documents_fourth_item_list_date-create {
                        position: absolute;
                        left: 66%;
                        color: $text-color-list_item;
                    }
                }
            }
        }
    }
}