.login_background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.login_background .login_window {
  background-color: white;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 100px;
}
.login_background .login_window .login_window_item .login_window_item_title {
  font-size: 20px;
  letter-spacing: 1px;
}
.login_background .login_window .login_window_item .login_window_item_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.login_background .login_window .login_window_item .login_window_item_input label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px 5px;
}
.login_background .login_window .login_window_item .login_window_item_input input {
  outline: none;
  color: #2c3e50;
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.login_background .login_window .login_window_item .login_window_item_input input:focus {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.login_background .login_window .login_window_item .login_window_item_input .input-error {
  border-color: red;
}
.login_background .login_window .login_window_item .login_window_item_input .input-error:focus {
  border-color: red;
}
.login_background .login_window .login_window_item .login_window_item_input .error {
  color: red;
  font-size: 14px;
  margin: 5px 0 0 5px;
}
.login_background .login_window .login_window_item .login_window_item_input .disabled:active {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.login_background .login_window .login_window_item .login_window_item_input input {
  width: 400px;
}
.login_background .login_window .login_window_item .login_window_item_button button {
  color: #42b983;
  background-color: white;
  border: 1px solid #42b983;
  border-radius: 30px;
  padding: 7px 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  width: 150px;
}
.login_background .login_window .login_window_item .login_window_item_button button:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.12s linear;
  transition: opacity 0.12s linear;
}