@import '../../commons/mixins.scss';

.login_background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .login_window {
        background-color: white;
        width: 600px;
        height: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 50px;
        box-sizing: border-box;
        margin-top: 100px;
    
        .login_window_item {
            .login_window_item_title {
                font-size: 20px;
                letter-spacing: 1px
            }

            .login_window_item_input {
                @include label-input();
                input {
                    width: 400px
                }
            }

            .login_window_item_button {
                button {
                    @include button();
                    width: 150px;
                }
            }
        }
    }
}