.PayProduct .modal_fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.PayProduct .modal_fourth .modal_fourth_left .modal_fourth_left_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.PayProduct .modal_fourth .modal_fourth_left .modal_fourth_left_item label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px 5px;
}
.PayProduct .modal_fourth .modal_fourth_left .modal_fourth_left_item input {
  outline: none;
  color: #2c3e50;
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.PayProduct .modal_fourth .modal_fourth_left .modal_fourth_left_item input:focus {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.PayProduct .modal_fourth .modal_fourth_left .modal_fourth_left_item .input-error {
  border-color: red;
}
.PayProduct .modal_fourth .modal_fourth_left .modal_fourth_left_item .input-error:focus {
  border-color: red;
}
.PayProduct .modal_fourth .modal_fourth_left .modal_fourth_left_item .error {
  color: red;
  font-size: 14px;
  margin: 5px 0 0 5px;
}
.PayProduct .modal_fourth .modal_fourth_left .modal_fourth_left_item .disabled:active {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.PayProduct .modal_fourth .modal_fourth_left .modal_fourth_left_item label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px 5px;
}
.PayProduct .modal_fourth .modal_fourth_left .modal_fourth_left_item select {
  outline: none;
  color: #2c3e50;
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.PayProduct .modal_fourth .modal_fourth_left .modal_fourth_left_item .input-error {
  border-color: red;
}
.PayProduct .modal_fourth .modal_fourth_left .modal_fourth_left_item .input-error:focus {
  border-color: red;
}
.PayProduct .modal_fourth .modal_fourth_left .modal_fourth_left_item .error {
  color: red;
  font-size: 14px;
  margin: 5px 0 0 5px;
}
.PayProduct .modal_fourth .modal_fourth_right .modal_fourth_right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.PayProduct .modal_fourth .modal_fourth_right .modal_fourth_right_item label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px 5px;
}
.PayProduct .modal_fourth .modal_fourth_right .modal_fourth_right_item input {
  outline: none;
  color: #2c3e50;
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.PayProduct .modal_fourth .modal_fourth_right .modal_fourth_right_item input:focus {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.PayProduct .modal_fourth .modal_fourth_right .modal_fourth_right_item .input-error {
  border-color: red;
}
.PayProduct .modal_fourth .modal_fourth_right .modal_fourth_right_item .input-error:focus {
  border-color: red;
}
.PayProduct .modal_fourth .modal_fourth_right .modal_fourth_right_item .error {
  color: red;
  font-size: 14px;
  margin: 5px 0 0 5px;
}
.PayProduct .modal_fourth .modal_fourth_right .modal_fourth_right_item .disabled:active {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}