@import '../../../../commons/mixins.scss';

.PayProduct {
    .modal_fourth {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .modal_fourth_left {
            .modal_fourth_left_item {
                @include label-input();
                @include label-select();
                margin-bottom: 10px;
            }
        }

        .modal_fourth_right {
            .modal_fourth_right_item {
                @include label-input();
                margin-bottom: 10px;
            }
        }
    }
}