@import '../color/color.scss';

@mixin button() {
    color: $text-color-button;
    background-color: $background-color-button;
    border: 1px solid $text-color-button;
    border-radius: 30px;
    padding: 7px 24px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;  
    cursor: pointer;

    &:hover {
        opacity: $background-color-button-hover;
        transition: opacity 0.12s linear;
    }
}



@mixin label() {
    color: $input-color-label;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 5px 5px;
}

@mixin input() {
    outline: none;
    color: $text-color-input-select;
    width: 300px;
    height: 38px;
    font-size: 16px;
    border: 2px solid $border-color-input-select;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0 30px;

    &:focus {
        border-color: $border-color-input-focus;
        transition: border-color 0.12s linear;
    }
}

@mixin select() {
    outline: none;
    color: $text-color-input-select;
    width: 300px;
    height: 38px;
    font-size: 16px;
    border: 2px solid $border-color-input-select;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0 30px;
};

@mixin label-input() {
    display: flex;
    flex-direction: column;

    label {
        @include label();
    }
    
    input {
        @include input();
    };

    .input-error {
        border-color: $border-color-error-input-select;

        &:focus {
            border-color: $border-color-error-input-select;
        }
    }

    .error {
        color: $text-color-error-input-select;
        font-size: 14px;
        margin: 5px 0 0 5px;
    }

    .disabled {
        &:active {
            border-color: $border-color-input-disabled-active;
            transition: border-color 0.12s linear;
        }
    }
}

@mixin label-select() {
    display: flex;
    flex-direction: column;

    label {
        @include label();
    }

    select {
        @include select();
    };

    .input-error {
        border-color: $border-color-error-input-select;

        &:focus {
            border-color: $border-color-error-input-select;
        }
    }

    .error {
        color: $text-color-error-input-select;
        font-size: 14px;
        margin: 5px 0 0 5px;
    }
}