@import '../../../../commons/mixins.scss';

.DateThird {
    .modal_third {
        .modal_third_row_1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .modal_third_row_1_left {
                .modal_third_row_1_left_item {
                    @include label-input();
                    margin-bottom: 10px;    
                }
            }

            .modal_third_row_1_right {
                .modal_third_row_1_right_item {
                    @include label-input();
                    margin-bottom: 10px;
                }
            }
        }
        .modal_third_row_2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .modal_third_row_2_item {
                @include label-input();
                margin-bottom: 10px;
            }
        }
    }
}