@import '../../../../color/color.scss';

.header2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header_item {
        text-align: center;
        margin: 0 5px;

        .link {
            text-decoration: none;
            color: $text-color-calculation-nav_link;
            height: 40px;
            padding: 5px 5px;
            display: block;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 6px;
            box-sizing: border-box;

            &:hover {
                background-color: $background-color-calculation-nav_link;
                color: $text-color-calculation-nav_link-hover;
            }
        }
    }
}