$background-color-home: #2c3e50;
$background-color-window: white;
$background-color-create_form: white;

$text-color-home-nav_link: black;
$background-color-home-nav_link: white;
$text-color-home-nav_link-hover: white;
$background-color-home-nav_link-hover: #2c3e50;

$text-color-button: #42b983;
$background-color-button: white; 
$background-color-button-hover: 0.7;

$text-color-list_item: black;

$input-color-label: black;
$text-color-input-select: #2c3e50;
$border-color-input-select: #ccc;
$border-color-input-focus: #42b983; 
$border-color-input-disabled-active: #42b983;
$text-color-error-input-select: red;
$border-color-error-input-select: red;

$text-color-calculation-nav_link: #42b983;
$text-color-calculation-nav_link-hover: white; 
$background-color-calculation-nav_link: #42b983;
$text-color-calculation-date: black;

$text-color-time: black;
