@import '../../color/color.scss';

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.calculation {
    width: 98.5%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    background-color: $background-color-window;
}