.modal_background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 700px;
  background-color: #2c3e50;
}
.modal_background .modal {
  width: 1000px;
  height: 100vh;
  overflow: auto;
  margin: 10px auto 0;
  background-color: white;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}
.modal_background .modal .modal_between {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: #A1A1A1;
}
.modal_background .modal .button_create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal_background .modal .button_create button {
  color: #42b983;
  background-color: white;
  border: 1px solid #42b983;
  border-radius: 30px;
  padding: 7px 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.modal_background .modal .button_create button:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.12s linear;
  transition: opacity 0.12s linear;
}