@import '../../commons/mixins.scss';

.modal_background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 700px;
    background-color: $background-color-home;

    .modal {
        width: 1000px;
        height: 100vh;
        overflow: auto;
        margin: 10px auto 0;
        background-color: $background-color-create_form;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 10px;

        .modal_between {
            margin: 20px 0;
            width: 100%;
            height: 1px;
            background-color: #A1A1A1;
        }
        
        .button_create {
            display: flex;
            flex-direction: row;
            justify-content: center;

            button {
                @include button();
            }
        }
    }
}