@import '../../commons/mixins.scss';
@import '../../color/color.scss';

.clients {
    width: 98.5%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    background-color: $background-color-window;

    .clients_first {
        margin-bottom: 10px;

        .clients_first_item {
            input {
                @include input();
                width: 100%;
            }
        }
    }

    .clients_second {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .clients_third {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 7px 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;

        .clients_third_item {
            .clients_third_item_list {
                display: flex;
                flex-direction: row;

                .clients_third_item_list_item {
                    font-size: 16px;
                    font-weight: 600;

                    .clients_third_item_list_item_name {
                        color: $text-color-list_item;
                    }

                    .clients_third_item_list_item_code-client {
                        position: absolute;
                        left: 20%;
                        color: $text-color-list_item;
                    }

                    .clients_third_item_list_item_password {
                        position: absolute;
                        left: 40%;
                        color: $text-color-list_item;
                    }

                    .clients_third_item_list_item_phone-number {
                        position: absolute;
                        left: 60%;
                        color: $text-color-list_item;
                    }

                    .clients_third_item_list_item_type-freight {
                        position: absolute;
                        left: 80%;
                        color: $text-color-list_item;
                    }
                }
            }
        }
    }
}