.clients {
  width: 98.5%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}
.clients .clients_first {
  margin-bottom: 10px;
}
.clients .clients_first .clients_first_item input {
  outline: none;
  color: #2c3e50;
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
  width: 100%;
}
.clients .clients_first .clients_first_item input:focus {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.clients .clients_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.clients .clients_third {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 7px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.clients .clients_third .clients_third_item .clients_third_item_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.clients .clients_third .clients_third_item .clients_third_item_list .clients_third_item_list_item {
  font-size: 16px;
  font-weight: 600;
}
.clients .clients_third .clients_third_item .clients_third_item_list .clients_third_item_list_item .clients_third_item_list_item_name {
  color: black;
}
.clients .clients_third .clients_third_item .clients_third_item_list .clients_third_item_list_item .clients_third_item_list_item_code-client {
  position: absolute;
  left: 20%;
  color: black;
}
.clients .clients_third .clients_third_item .clients_third_item_list .clients_third_item_list_item .clients_third_item_list_item_password {
  position: absolute;
  left: 40%;
  color: black;
}
.clients .clients_third .clients_third_item .clients_third_item_list .clients_third_item_list_item .clients_third_item_list_item_phone-number {
  position: absolute;
  left: 60%;
  color: black;
}
.clients .clients_third .clients_third_item .clients_third_item_list .clients_third_item_list_item .clients_third_item_list_item_type-freight {
  position: absolute;
  left: 80%;
  color: black;
}