@import '../../color/color.scss';

.time {
    display: flex;
    gap: 5px;

    .time_item {
        color: $text-color-time;
        cursor: pointer;
    }  

    .time_between {
        color: black;
    }
}