@import '../../commons/mixins.scss';
@import '../../color/color.scss';

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 15px 2px;
    box-sizing: border-box;
    justify-content: space-between;

    .header_left {
        // 
    }

    .header_center {
        display: flex;

        .header_center_item {
            margin: 10px 10px;
            .link {
                text-decoration: none;
                color: $text-color-home-nav_link;
                padding: 5px 5px;
                background-color: $background-color-home-nav_link;
                border-radius: 3px;
                border: 1px solid white;

                &:hover {
                    background-color: $background-color-home-nav_link-hover;
                    color: $text-color-home-nav_link-hover;
                    transition: background-color 0.12s linear;
                    transition: color 0.12s linear;
                }
            }
        }
    }

    .header_right {
        button {
            @include button();
        }
    }
}