.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 15px 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header_center .header_center_item {
  margin: 10px 10px;
}
.header .header_center .header_center_item .link {
  text-decoration: none;
  color: black;
  padding: 5px 5px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid white;
}
.header .header_center .header_center_item .link:hover {
  background-color: #2c3e50;
  color: white;
  -webkit-transition: background-color 0.12s linear;
  transition: background-color 0.12s linear;
  -webkit-transition: color 0.12s linear;
  transition: color 0.12s linear;
}
.header .header_right button {
  color: #42b983;
  background-color: white;
  border: 1px solid #42b983;
  border-radius: 30px;
  padding: 7px 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.header .header_right button:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.12s linear;
  transition: opacity 0.12s linear;
}