@import '../../../../commons/mixins.scss';

.mt-5 {
    margin-top: 5px;
}

.DateSecond {
    .modal_second {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .modal_second_left {
            .modal_second_left_item {
                @include label-input();
                @include label-select();
                margin-bottom: 10px;
            }
        }

        .modal_second_right {
            .modal_second_right_item {
                @include label-input();
                @include label-select();
                margin-bottom: 10px;
            }
        }
    }
}