@import '../../../../commons/mixins.scss';

.Rest {
    .modal_fifth {
        .modal_between {
            margin: 20px 0;
            width: 100%;
            height: 1px;
            background-color: #A1A1A1;
        }
        
        .modal_fifth_row_1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .modal_fifth_row_1_item {
                @include label-input();
            }
        }

        .modal_fifth_row_2 {
            .modal_fifth_row_2_item {
                @include label-input();
            }
        }

        .modal_fifth_row_3 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .modal_fifth_row_3_item {
                @include label-input();
            }
        }

        .modal_fifth_row_4 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .modal_fifth_row_4_item {
                @include label-input();
            }
        }

        .modal_fifth_row_5 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .modal_fifth_row_5_item {
                @include label-input();
            }
        }

        .modal_fifth_row_6 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .modal_fifth_row_6_item {
                @include label-input();
            }
        }
    }
}