.Finish .modal_six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.Finish .modal_six .modal_six_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  flex-direction: column;
}
.Finish .modal_six .modal_six_item label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px 5px;
}
.Finish .modal_six .modal_six_item .modal_six_item_note {
  width: 300px;
  height: 100px;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 15px;
  font-family: none;
  color: #2c3e50;
}
.Finish .modal_six .modal_six_item label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px 5px;
}
.Finish .modal_six .modal_six_item input {
  outline: none;
  color: #2c3e50;
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.Finish .modal_six .modal_six_item input:focus {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.Finish .modal_six .modal_six_item .input-error {
  border-color: red;
}
.Finish .modal_six .modal_six_item .input-error:focus {
  border-color: red;
}
.Finish .modal_six .modal_six_item .error {
  color: red;
  font-size: 14px;
  margin: 5px 0 0 5px;
}
.Finish .modal_six .modal_six_item .disabled:active {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.Finish .modal_create-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Finish .modal_create-button button {
  color: #42b983;
  background-color: white;
  border: 1px solid #42b983;
  border-radius: 30px;
  padding: 7px 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.Finish .modal_create-button button:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.12s linear;
  transition: opacity 0.12s linear;
}