@import '../../../../commons/mixins.scss';

.Finish {
    .modal_six {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;

        .modal_six_item {
            display: flex;
            flex-direction: column;

            label {
                @include label();
            }   

            .modal_six_item_note {
                width: 300px;
                height: 100px;
                overflow: auto;
                box-sizing: border-box;
                padding: 6px;
                border: 1px solid $border-color-input-select;
                border-radius: 3px;
                font-size: 15px;
                font-family: none;
                color: $text-color-input-select;
            }

            @include label-input();
        }
    }

    .modal_create-button {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            @include button();
        }
    }
}