.title {
  color: black;
}

.data {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.data .data_density {
  width: 39%;
}
.data .data_density .data_density_title {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.data .data_density .data_density_inputs-buttons {
  position: relative;
  bottom: 1px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px 5px;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item input {
  outline: none;
  color: #2c3e50;
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item input:focus {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item .input-error {
  border-color: red;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item .input-error:focus {
  border-color: red;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item .error {
  color: red;
  font-size: 14px;
  margin: 5px 0 0 5px;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item .disabled:active {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item label {
  text-align: center;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item input {
  width: 100%;
  padding: 0 20px;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px 5px;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item select {
  outline: none;
  color: #2c3e50;
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item .input-error {
  border-color: red;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item .input-error:focus {
  border-color: red;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item .error {
  color: red;
  font-size: 14px;
  margin: 5px 0 0 5px;
}
.data .data_density .data_density_inputs-buttons .data_density_inputs .data_density_inputs_item select {
  width: 60px;
  padding: 0 3px;
}
.data .data_density .data_density_inputs-buttons .data_density_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.data .data_density .data_density_inputs-buttons .data_density_buttons .data_density_buttons_item {
  margin: 20px 5px 5px;
}
.data .data_density .data_density_inputs-buttons .data_density_buttons .data_density_buttons_item button {
  color: #42b983;
  background-color: white;
  border: 1px solid #42b983;
  border-radius: 30px;
  padding: 7px 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.data .data_density .data_density_inputs-buttons .data_density_buttons .data_density_buttons_item button:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.12s linear;
  transition: opacity 0.12s linear;
}
.data .data_pay {
  width: 29%;
}
.data .data_pay .data_pay_title {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.data .data_pay .data_pay_inputs-buttons {
  position: relative;
  bottom: 1px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.data .data_pay .data_pay_inputs-buttons .data_pay_inputs .data_pay_inputs_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  margin: 0 auto;
}
.data .data_pay .data_pay_inputs-buttons .data_pay_inputs .data_pay_inputs_item label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px 5px;
}
.data .data_pay .data_pay_inputs-buttons .data_pay_inputs .data_pay_inputs_item input {
  outline: none;
  color: #2c3e50;
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.data .data_pay .data_pay_inputs-buttons .data_pay_inputs .data_pay_inputs_item input:focus {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.data .data_pay .data_pay_inputs-buttons .data_pay_inputs .data_pay_inputs_item .input-error {
  border-color: red;
}
.data .data_pay .data_pay_inputs-buttons .data_pay_inputs .data_pay_inputs_item .input-error:focus {
  border-color: red;
}
.data .data_pay .data_pay_inputs-buttons .data_pay_inputs .data_pay_inputs_item .error {
  color: red;
  font-size: 14px;
  margin: 5px 0 0 5px;
}
.data .data_pay .data_pay_inputs-buttons .data_pay_inputs .data_pay_inputs_item .disabled:active {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.data .data_pay .data_pay_inputs-buttons .data_pay_inputs .data_pay_inputs_item label {
  text-align: center;
}
.data .data_pay .data_pay_inputs-buttons .data_pay_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.data .data_pay .data_pay_inputs-buttons .data_pay_buttons .data_pay_buttons_item {
  margin: 20px 5px 5px;
}
.data .data_pay .data_pay_inputs-buttons .data_pay_buttons .data_pay_buttons_item button {
  color: #42b983;
  background-color: white;
  border: 1px solid #42b983;
  border-radius: 30px;
  padding: 7px 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.data .data_pay .data_pay_inputs-buttons .data_pay_buttons .data_pay_buttons_item button:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.12s linear;
  transition: opacity 0.12s linear;
}
.data .data_delivery {
  width: 29%;
}
.data .data_delivery .data_delivery_title {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.data .data_delivery .data_delivery_inputs-buttons {
  position: relative;
  bottom: 1px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.data .data_delivery .data_delivery_inputs-buttons .data_delivery_inputs .data_delivery_inputs_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  margin: 0 auto;
}
.data .data_delivery .data_delivery_inputs-buttons .data_delivery_inputs .data_delivery_inputs_item label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px 5px;
}
.data .data_delivery .data_delivery_inputs-buttons .data_delivery_inputs .data_delivery_inputs_item input {
  outline: none;
  color: #2c3e50;
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.data .data_delivery .data_delivery_inputs-buttons .data_delivery_inputs .data_delivery_inputs_item input:focus {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.data .data_delivery .data_delivery_inputs-buttons .data_delivery_inputs .data_delivery_inputs_item .input-error {
  border-color: red;
}
.data .data_delivery .data_delivery_inputs-buttons .data_delivery_inputs .data_delivery_inputs_item .input-error:focus {
  border-color: red;
}
.data .data_delivery .data_delivery_inputs-buttons .data_delivery_inputs .data_delivery_inputs_item .error {
  color: red;
  font-size: 14px;
  margin: 5px 0 0 5px;
}
.data .data_delivery .data_delivery_inputs-buttons .data_delivery_inputs .data_delivery_inputs_item .disabled:active {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.data .data_delivery .data_delivery_inputs-buttons .data_delivery_inputs .data_delivery_inputs_item label {
  text-align: center;
}
.data .data_delivery .data_delivery_inputs-buttons .data_delivery_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.data .data_delivery .data_delivery_inputs-buttons .data_delivery_buttons .data_delivery_buttons_item {
  margin: 20px 5px 5px;
}
.data .data_delivery .data_delivery_inputs-buttons .data_delivery_buttons .data_delivery_buttons_item button {
  color: #42b983;
  background-color: white;
  border: 1px solid #42b983;
  border-radius: 30px;
  padding: 7px 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.data .data_delivery .data_delivery_inputs-buttons .data_delivery_buttons .data_delivery_buttons_item button:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.12s linear;
  transition: opacity 0.12s linear;
}