@import '../../../../commons/mixins.scss';
@import '../../../../color/color.scss';

.title {
    color: $text-color-calculation-date;
}

.data {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .data_density {
        width: 39%;

        .data_density_title {
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 5px;
            box-sizing: border-box;
        }

        .data_density_inputs-buttons {
            position: relative;
            bottom: 1px;
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 5px;
            box-sizing: border-box;

            .data_density_inputs {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .data_density_inputs_item {
                    @include label-input();
                    margin-right: 5px;

                        label {
                            text-align: center;
                        }

                        input {
                            width: 100%;
                            padding: 0 20px;
                        }

                    @include label-select();
                        select {
                            width: 60px;
                            padding: 0 3px;
                        }
                }
            }

            .data_density_buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .data_density_buttons_item {
                    margin: 20px 5px 5px;

                    button {
                        @include button();
                    }
                }
            }
        }
    }

    .data_pay {
        width: 29%;

        .data_pay_title {
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 5px;
            box-sizing: border-box;
        }
        .data_pay_inputs-buttons {
            position: relative;
            bottom: 1px;
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 5px;
            box-sizing: border-box;

            .data_pay_inputs {
                .data_pay_inputs_item {
                    @include label-input();
                    width: 75%;
                    margin: 0 auto;

                    label {
                        text-align: center;
                    }
                }
            }

            .data_pay_buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .data_pay_buttons_item {
                    margin: 20px 5px 5px;

                    button {
                        @include button();
                    }
                }
            }
        }
    }

    .data_delivery {
        width: 29%;

        .data_delivery_title {
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 5px;
            box-sizing: border-box;
        }
        .data_delivery_inputs-buttons {
            position: relative;
            bottom: 1px;
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 5px;
            box-sizing: border-box;

            .data_delivery_inputs {
                .data_delivery_inputs_item {
                    @include label-input();
                    width: 75%;
                    margin: 0 auto;

                    label {
                        text-align: center;
                    }
                }
            }

            .data_delivery_buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .data_delivery_buttons_item {
                    margin: 20px 5px 5px;

                    button {
                        @include button();
                    }
                }
            }
        }
    }
}