.DateFirst .modal_first .modal_first_row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.DateFirst .modal_first .modal_first_row_1 .modal_first_row_1_item .modal_first_row_1_item_button button {
  color: #42b983;
  background-color: white;
  border: 1px solid #42b983;
  border-radius: 30px;
  padding: 7px 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.DateFirst .modal_first .modal_first_row_1 .modal_first_row_1_item .modal_first_row_1_item_button button:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.12s linear;
  transition: opacity 0.12s linear;
}
.DateFirst .modal_first .modal_first_row_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.DateFirst .modal_first .modal_first_row_2 .modal_first_row_2_item .modal_first_row_2_item_text {
  color: black;
}
.DateFirst .modal_first .modal_first_row_2 .modal_first_row_2_item .modal_first_row_2_item_language select {
  outline: none;
  color: #2c3e50;
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.DateFirst .modal_first .modal_first_row_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.DateFirst .modal_first .modal_first_row_3 .modal_first_row_3_item {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.DateFirst .modal_first .modal_first_row_3 .modal_first_row_3_item label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px 5px;
}
.DateFirst .modal_first .modal_first_row_3 .modal_first_row_3_item input {
  outline: none;
  color: #2c3e50;
  width: 300px;
  height: 38px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.DateFirst .modal_first .modal_first_row_3 .modal_first_row_3_item input:focus {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.DateFirst .modal_first .modal_first_row_3 .modal_first_row_3_item .input-error {
  border-color: red;
}
.DateFirst .modal_first .modal_first_row_3 .modal_first_row_3_item .input-error:focus {
  border-color: red;
}
.DateFirst .modal_first .modal_first_row_3 .modal_first_row_3_item .error {
  color: red;
  font-size: 14px;
  margin: 5px 0 0 5px;
}
.DateFirst .modal_first .modal_first_row_3 .modal_first_row_3_item .disabled:active {
  border-color: #42b983;
  -webkit-transition: border-color 0.12s linear;
  transition: border-color 0.12s linear;
}
.DateFirst .modal_first .modal_first_row_3 .modal_first_row_3_item input {
  width: 480px;
}