@import '../../../../commons/mixins.scss';

.DateFirst {
    .modal_first {
        .modal_first_row_1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10px;

            .modal_first_row_1_item {
                .modal_first_row_1_item_button {
                    button {
                        @include button();
                    }
                }
            }
        }

        .modal_first_row_2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .modal_first_row_2_item {
                .modal_first_row_2_item_text {
                    color: black;
                }

                .modal_first_row_2_item_language {
                    select {
                        @include select();
                    }
                }
            }
        }

        .modal_first_row_3 {
            display: flex;
            flex-direction: row;

            .modal_first_row_3_item {
                margin-right: 10px;

                @include label-input();
                    input {
                        width: 480px;
                }
            }
        }
    }
}