@import '../src/color/color.scss';

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

.app {
    background-color: $background-color-home;
    width: 100%;
    height: 100vh;
}